///////////////////////////////////////////////
////////////////// COMPASS //////////////////// 
///////////////////////////////////////////////

$default-text-shadow-color: fade(black, 75)
$default-text-shadow-h-offset: 1px
$default-text-shadow-v-offset: $default-text-shadow-h-offset
$default-text-shadow-blur: 0
$default-transition-function: ease-in-out

@import compass

// Cerberus variables
$cerberus: #006699
$main: $cerberus

// Bootstrap variables
@import _custom
@import bootstrap/variables
@import bootstrap/mixins

$serifFontFamily: "Droid Serif", $serifFontFamily
$sansFontFamily: "Open Sans", $sansFontFamily

// Variantes de couleur
$mainLight: lighten($main, 15)
$mainDark: darken($main, 15)

///////////////////////////////////////////////
//////////////////// SUSY ///////////////////// 
///////////////////////////////////////////////

// Vertical Rythm
$base-font-size       : $baseFontSize !default
$base-line-height     : $baseLineHeight !default
$relative-font-sizing : false !default

// Susy
$layout                 : fixed !default
$col-width              : $gridColumnWidth
$gutter-width           : $gridGutterWidth       
@if $layout != fixed
  $col-width            : $fluidGridColumnWidth
  $gutter-width         : $fluidGridGutterWidth
    
$total-cols             : $gridColumns
$side-gutter-width      : $gutter-width !default

///////////////////////////////////////////////
////////////////// FONCTIONS ////////////////// 
///////////////////////////////////////////////

@function fade($color, $opacity)
  @return rgba($color, $opacity / 100)
  
@function light($lightness)
  @return lighten(black, $lightness)

///////////////////////////////////////////////
////////////////// MIXINS ///////////////////// 
///////////////////////////////////////////////

=selection($background, $color: white)
  ::selection
    background: $background
    color: $color
  ::-moz-selection
    background: $background
    color: $color

=font-smoothing($smooth)
  +experimental(font-smoothing, $smooth)

=text-drop($color, $size: $default_size)
  color: $color
  $default_size: 2px
  $default_opacity: 75
  @if lightness($color) >= 50
    +text-shadow($size $size 0 fadeout(black, $default_opacity))
  @else
    +text-shadow($size $size 0 fadeout(white, $default_opacity))

=bouton($color: $main)
  $bordure: 5px
  cursor: pointer
  border: 1px solid darken($color, 10)
  padding: 5px
  +single-text-shadow(darken($color, 25), 0, 2px, 0)
  +gradient-auto-vertical($color, 5%)
  +box-shadow(0 $bordure 0 0 darken($color, 20))
  +single-transition(all, 0.1s)
  &:hover
    +gradient-auto-vertical(lighten($color, 5%), 5%)
    +box-shadow(0, $bordure, 0, 0, lighten(darken($color, 20%), 10))
  &:active
    +gradient-auto-vertical(darken($color, 10%), 5%)
    +box-shadow(none)
    margin-bottom: 5px