# Système
.DS_Store

## SASS ET COMPASS ##
#####################

config.rb
.sass-cache
.project

## FICHIERS PROPRES AU SITE ##
##############################

# Fichiers moteurs
assets/cerberus/css
assets/cerberus/*/plugins/
assets/cerberus/img/rgbapng
assets/common
cerberus/conf.php
cerberus/cache

# Fichiers
/*.php
/*.html
/*.htaccess
/*.txt

# Dossiers
/assets/*
/pages/
/pageflip/
/src/
