# Système
.DS_Store

## SASS ET COMPASS ##
#####################

config.rb
.sass-cache
.project

## CERBERUS CORE FILES ##
#########################

# assets
## compiled files 
assets/cerberus/css
assets/cerberus/js
assets/cerberus/img/rgbapng

## submodules
assets/cerberus/*/plugins
assets/cerberus/fonts/fontawesome-*.*

## templates
assets/*/

# cache
cerberus/cache

## PROJECT RELATED FILES ##
###########################

# assets
assets/common

# configuration
cerberus/conf.php

# pages
/pages/
/pageflip/
/src/

# files
/*.php
/*.html
/*.htaccess
/*.txt