//////////////////////////////////////////////////////////////////////
//////////////////////////// TYPE SETTINGS ///////////////////////////
//////////////////////////////////////////////////////////////////////

// Base font stack ------------------------------------------------- /

$sansFontFamily  : 'Open Sans', "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$serifFontFamily : "Droid Serif", "droid-serif", Georgia, "Times New Roman", Times, serif

// Font size unification ------------------------------------------- /

$base-font-size   : 13px
$base-size        : $base-font-size
$base-line-height : ms(0) * 1.5

// Third party options --------------------------------------------- /

$round-to-nearest-half-line : true