//////////////////////////////////////////////////////////////////////
//////////////////////////// TYPE SETTINGS ///////////////////////////
//////////////////////////////////////////////////////////////////////

// Base font stack ------------------------------------------------- /

$sansFontFamily  : "Open Sans", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default
$serifFontFamily : "Droid Serif", "droid-serif", Georgia, "Times New Roman", Times, serif !default

// Font size unification ------------------------------------------- /

$base-font-size   : ms(0) !default
$base-size        : $base-font-size
$line-height      : 1.5 !default
$base-line-height : $base-font-size * $line-height

// Third party options --------------------------------------------- /

$round-to-nearest-half-line : true

// Base font sizes ------------------------------------------------- /

$xxxsmall : ms(-4)
$xxsmall  : ms(-3)
$xsmall   : ms(-2)
$small    : ms(-1)
$normal   : $base-size
$medium   : ms(1)
$large    : ms(2)
$xlarge   : ms(3)
$xxlarge  : ms(5)
$xxxlarge : ms(8)

// Related mixins -------------------------------------------------- /

// Alias for +adjust-font-size-to
=font-size($font-size)
  +adjust-font-size-to($font-size)
