//////////////////////////////////////////////////////////////////////
////////////////////////////// VARIABLES /////////////////////////////
//////////////////////////////////////////////////////////////////////

// Base font stack ------------------------------------------------- /

$font-sans  : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif : Georgia, "Times New Roman", Times, serif !default;
$font-mono  : Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Third party options --------------------------------------------- /

$round-to-nearest-half-line : true;
$rhythm-unit                : 'rem' !default;

// Base sizes  ----------------------------------------------------- /

// Font size
$base-font-size   : 16px !default;
$base-size        : 1rem !default;

// Line height
$line-height      : 1.5 !default;
$base-line-height : $base-font-size * $line-height;

//////////////////////////////////////////////////////////////////////
//////////////////////// SHORTCUTS AND ALIASES ///////////////////////
//////////////////////////////////////////////////////////////////////

// Related mixins -------------------------------------------------- /

// Alias for +adjust-font-size-to
@mixin font-size($font-size) {
  @include adjust-font-size-to($font-size);
}
