//////////////////////////////////////////////////////////////
//////////////////// GRID SYSTEM AND SUSY //////////////////// 
//////////////////////////////////////////////////////////////

// SUSY import --------------------------------------------- /

@import susy

// Grid settings ------------------------------------------- /

// Grid type
$cerberus-fluid            : false !default

// Various widths
$total-columns             : $gridColumns
$column-width              : if($cerberus-fluid, $fluidGridColumnWidth, $gridColumnWidth)
$gutter-width              : if($cerberus-fluid, $fluidGridGutterWidth, $gridGutterWidth)
$grid-padding              : $gutter-width