//////////////////// COULEURS //////////////////// 

@cerberus: #069;
@import "main";

//////////////////// POLICES //////////////////// 

.font-serif() { font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif }
.font-noserif() { font-family: "Open Sans", Helvetica, Geneva, Arial, sans-serif }

//////////////////// PROPRIETES //////////////////// 

.border-box()
{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.background-size(@size: 100% 100%)
{
	-webkit-background-size: @size; 
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}
.opacity(@opacity: 100)
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity)";
	filter: alpha(opacity=@opacity);
	-moz-opacity: @opacity/100;
	-khtml-opacity: @opacity/100;
	opacity: @opacity/100;
}
.bouton(@color: @main)
{
	@baselight: lighten(@color, 10);
	@basedark: 	darken(@color, 10);
	@bordure: 5px;
	
	cursor: pointer;
	.gradient-basic-vertical(@baselight, @basedark);
	.text-shadow(0, 2px, 0, darken(@color, 25));
	.box-shadow(0, @bordure, 0, 0, darken(@color, 20));
	border: 1px solid darken(@color, 10);
	
	&:hover
	{
		.gradient-basic-vertical(lighten(@baselight, 10%), lighten(@basedark, 10));
		.box-shadow(0, @bordure, 0, 0, lighten(darken(@color, 20%), 10));
	}
	&:active
	{
		position: relative;
		top: @bordure;
		.gradient-basic-vertical(darken(@baselight, 10%), darken(@basedark, 10));
		.box-shadow-none;
	}
}

//////////////////// ARRONDIS //////////////////// 

.round(@border-radius)
{
	-webkit-border-radius: @border-radius;
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
}
.round(@top, @bottom)
{
	-webkit-border-top-right-radius: @top;
	-webkit-border-bottom-right-radius: @bottom;
	-webkit-border-bottom-left-radius: @bottom;
	-webkit-border-top-left-radius: @top;
	-moz-border-radius-topright: @top;
	-moz-border-radius-bottomright: @bottom;
	-moz-border-radius-bottomleft: @bottom;
	-moz-border-radius-topleft: @top;
	border-top-right-radius: @top;
	border-bottom-right-radius: @bottom;
	border-bottom-left-radius: @bottom;
	border-top-left-radius: @top;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
}
.round(@topright, @bottomright, @bottomleft, @topleft)
{
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
}
.round-none()
{
	.round(0px);
}

//////////////////// OMBRES //////////////////// 

// Ombres automatiques
@default_size: 2px;
@default_opacity: 75;

.text-drop (@color, @size: @default_size) when (lightness(@color) >= 50%)
{
	color: @color;
	.text-shadow(@size, @size, 0, fadeout(black, @default_opacity));
}
.text-drop (@color, @size: @default_size) when (lightness(@color) < 50%)
{
	color: @color;
	.text-shadow(@size, @size, 0, fadeout(black, @default_opacity));
}
.text-drop (@color, @sizex, @sizey) when (lightness(@color) >= 50%)
{
	color: @color;
	.text-shadow(@sizex, @sizey, 0, fadeout(black, @default_opacity));
}
.text-drop (@color, @sizex, @sizey) when (lightness(@color) < 50%)
{
	color: @color;
	.text-shadow(@sizex, @sizey, 0, fadeout(black, @default_opacity));
}

// Ombre manuelle
.text-drop(@color, @shadow, @size) when (iscolor(@shadow))
{
	color: @color;
	.text-shadow(@size, @size, 0, fadeout(@shadow, @default_opacity));
}

.text-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000)
{
	text-shadow: @arguments;
	filter: ~'dropshadow(color=@{color}, offx=@{x}, offy=@{y})';
}
.text-shadow-none()
{
	filter: none;
	text-shadow: none;
}
.box-shadow(@blur, @color)
{
	.box-shadow(0, 0, @blur, 0, @color);
}
.box-shadow(@x: 0, @y: 0, @blur: 1px, @spread: 0, @color: #000)
{
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}
.box-shadow-inset(@x: 0, @y: 0, @blur: 1px, @spread: 0, @color: #000)
{
	box-shadow: inset @arguments;
	-moz-box-shadow: inset @arguments;
	-webkit-box-shadow: inset @arguments;
}
.box-shadow-none()
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

//////////////////// TRANSFORMATIONS //////////////////// 

.rotate(@deg: 9deg)
{	
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	transform: rotate(@deg);
}
.translate(@move_x: 10px, @move_y: 10px)
{
    -webkit-transform: translate(@move_x, @move_y);
    -moz-transform: translate(@move_x, @move_y);
    -o-transform: translate(@move_x, @move_y);
    -ms-transform:translate(@move_x, @move_y);
    transform: translate(@move_x, @move_y);
}
.skew(@angle_x: 35, @angle_y: 0)
{
    -webkit-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -moz-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -o-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -ms-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
}
.scale(@scale_x: 1)
{
    -webkit-transform: scale(@scale_x);
    -moz-transform: scale(@scale_x);
    -o-transform: scale(@scale_x);
    -ms-transform: scale(@scale_x);
    transform: scale(@scale_x);
}
.flipX()
{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
}
.flipY()
{
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
}
.flip180()
{
	-moz-transform: scaleX(-1) scaleY(-1);
	-o-transform: scaleX(-1) scaleY(-1);
	-webkit-transform: scaleX(-1) scaleY(-1);
	transform: scaleX(-1) scaleY(-1);
	filter: FlipH FlipV;
}
.transition(@range: all, @time: 1s, @ease: ease-in-out)
{
    -moz-transition: @range @time @ease;
    -webkit-transition: @range @time @ease;
    -o-transition: @range @time @ease;
    transition: @range @time @ease;
}
.transition(@time)
{
	.transition(all, @time);
}
@transition: 0.3s;

//////////////////// GRADIENTS //////////////////// 

.gradient-auto-horizontal(@color: @main, @difference: 10%)
{
	@start: lighten(@color, @difference);
	@end: darken(@color, @difference);
	.gradient-basic-horizontal(@start, @end);
	border-top: 1px solid lighten(@color, @difference+10);
	border-bottom: 1px solid darken(@color, @difference+10);
}
.gradient-auto-vertical(@color: @main, @difference: 10%)
{
	@start: lighten(@color, @difference);
	@end: darken(@color, @difference);
	.gradient-basic-vertical(@start, @end);
	border-top: 1px solid lighten(@color, @difference+10);
	border-bottom: 1px solid darken(@color, @difference+10);
}
.gradient-auto-radial(@color: @main, @difference: 10%)
{
	@start: lighten(@color, @difference);
	.gradient-radial(@color, @start);
	border-top: 1px solid lighten(@color, @difference+10);
	border-bottom: 1px solid darken(@color, @difference+10);
}
.gradient-basic-horizontal(@start: #000, @end: #FFF)
{
	background: @start;
	background: -moz-linear-gradient(left, @start 0%, @end 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, @start), color-stop(100%, @end));
	background: -webkit-linear-gradient(left, @start 0%,@end 100%);
	background: -o-linear-gradient(left, @start 0%,@end 100%);
	background: -ms-linear-gradient(left, @start 0%,@end 100%);
	background: linear-gradient(left, @start 0%,@end 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=1)";
}
.gradient-basic-vertical(@start: #000, @end: #FFF)
{
	background: @start;
	background: -moz-linear-gradient(top,  @start 0%, @end 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end));
	background: -webkit-linear-gradient(top,  @start 0%,@end 100%);
	background: -o-linear-gradient(top,  @start 0%,@end 100%);
	background: -ms-linear-gradient(top,  @start 0%,@end 100%);
	background: linear-gradient(top,  @start 0%,@end 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=0)";
}
.gradient-radial(@end: #000, @start: #FFF)
{
	background: @start;
	background: -moz-radial-gradient(center, ellipse cover,  @start 0%, @end 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@start), color-stop(100%,@end));
	background: -webkit-radial-gradient(center, ellipse cover,  @start 0%,@end 100%);
	background: -o-radial-gradient(center, ellipse cover,  @start 0%,@end 100%);
	background: -ms-radial-gradient(center, ellipse cover,  @start 0%,@end 100%);
	background: radial-gradient(center, ellipse cover,  @start 0%,@end 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=1)";
}

//////////////////// CUSTOM //////////////////// 

.lighten(@light: 50)
{
	background-image: url("overlay/blanc-@{light}.png");
}
.darken(@dark: 50)
{
	background-image: url("overlay/noir-@{dark}.png");
}
