.navbar {
  text-align: center;
  background-image: url("cerberus/overlay-noir-10.png"), url("cerberus/overlay-blancnoir-25.png") !important;
  width: 100%;
  margin: 0 auto;
  padding: 4px 0;
  position: relative;
  font-size: small;
  -webkit-border-radius: 10px 0;
  -moz-border-radius: 10px / 0;
  -ms-border-radius: 10px / 0;
  -o-border-radius: 10px / 0;
  border-radius: 10px / 0; }
  .navbar.bottom {
    background-image: url("cerberus/overlay-noir-50.png"), url("cerberus/overlay-blancnoir-25.png") !important;
    -webkit-border-radius: 0 10px;
    -moz-border-radius: 0 / 10px;
    -ms-border-radius: 0 / 10px;
    -o-border-radius: 0 / 10px;
    border-radius: 0 / 10px; }
  .navbar a {
    padding: 3px 12px;
    margin-right: 5px;
    color: white;
    text-transform: lowercase;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
    .navbar a:hover, .navbar a.hover {
      padding: 3px 11px;
      border: solid #333333;
      border-width: 0 1px;
      background-color: #0077b3;
      -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5); }
    .navbar a:active {
      background-color: #338ccc;
      position: relative;
      top: 1px; }
    .navbar a.hover {
      background-color: #368bc8;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4689b9), color-stop(100%, #208fdf));
      background-image: -webkit-linear-gradient(top, #4689b9, #208fdf);
      background-image: -moz-linear-gradient(top, #4689b9, #208fdf);
      background-image: -o-linear-gradient(top, #4689b9, #208fdf);
      background-image: -ms-linear-gradient(top, #4689b9, #208fdf);
      background-image: linear-gradient(top, #4689b9, #208fdf);
      background-repeat: repeat-x; }
  .navbar .section {
    margin: 0;
    position: relative;
    top: -4px;
    padding: 4px;
    color: white;
    float: left;
    background-color: #353535;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #262626));
    background-image: -webkit-linear-gradient(top, #404040, #262626);
    background-image: -moz-linear-gradient(top, #404040, #262626);
    background-image: -o-linear-gradient(top, #404040, #262626);
    background-image: -ms-linear-gradient(top, #404040, #262626);
    background-image: linear-gradient(top, #404040, #262626);
    background-repeat: repeat-x;
    border-top: 1px solid #737373;
    border-bottom: 1px solid black;
    border: none;
    text-align: center;
    text-transform: uppercase;
    width: 75px; }

.admin-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  font-weight: 400; }
