.sitemap-content table,
.sitemap-content td,
.sitemap-content tr {
  background: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left; }
  .sitemap-content table:hover,
  .sitemap-content td:hover,
  .sitemap-content tr:hover {
    background: none; }
.sitemap-content ul,
.sitemap-content li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.sitemap-content h2 {
  background-color: #e74f2a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed5d39), color-stop(100%, #df3c14));
  background-image: -webkit-linear-gradient(top, #ed5d39, #df3c14);
  background-image: -moz-linear-gradient(top, #ed5d39, #df3c14);
  background-image: -o-linear-gradient(top, #ed5d39, #df3c14);
  background-image: -ms-linear-gradient(top, #ed5d39, #df3c14);
  background-image: linear-gradient(top, #ed5d39, #df3c14);
  background-repeat: repeat-x;
  border-top: 1px solid #f6aa97;
  border-bottom: 1px solid #82230c;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: large;
  margin: 0;
  padding: 5px 10px; }
  .sitemap-content h2:hover {
    background-color: #ef7355;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f18368), color-stop(100%, #ed5d39));
    background-image: -webkit-linear-gradient(top, #f18368, #ed5d39);
    background-image: -moz-linear-gradient(top, #f18368, #ed5d39);
    background-image: -o-linear-gradient(top, #f18368, #ed5d39);
    background-image: -ms-linear-gradient(top, #f18368, #ed5d39);
    background-image: linear-gradient(top, #f18368, #ed5d39);
    background-repeat: repeat-x;
    border-top: 1px solid #fad0c6;
    border-bottom: 1px solid #b13010; }
.sitemap-content ul {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 10px; }
  .sitemap-content ul a {
    text-decoration: none; }
.sitemap-content li {
  border-left: 5px solid #eb4a22;
  text-align: left;
  margin: 0;
  background: rgba(255, 255, 255, 0.25);
  padding: 4px; }
  .sitemap-content li:hover {
    background: rgba(255, 255, 255, 0.5);
    border-left: 5px solid #0088cc;
    color: #006699; }
