.sitemap-content table,
.sitemap-content td,
.sitemap-content tr {
  background: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left; }
  .sitemap-content table:hover,
  .sitemap-content td:hover,
  .sitemap-content tr:hover {
    background: none; }
.sitemap-content ul,
.sitemap-content li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.sitemap-content h2 {
  background-color: #00699e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0077b3), color-stop(100%, #005580));
  background-image: -webkit-linear-gradient(top, #0077b3, #005580);
  background-image: -moz-linear-gradient(top, #0077b3, #005580);
  background-image: -o-linear-gradient(top, #0077b3, #005580);
  background-image: -ms-linear-gradient(top, #0077b3, #005580);
  background-image: linear-gradient(top, #0077b3, #005580);
  background-repeat: repeat-x;
  border-top: 1px solid #1ab2ff;
  border-bottom: 1px solid #00111a;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: large;
  margin: 0;
  padding: 5px 10px; }
  .sitemap-content h2:hover {
    background-color: #008bd1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e6), color-stop(100%, #0077b3));
    background-image: -webkit-linear-gradient(top, #0099e6, #0077b3);
    background-image: -moz-linear-gradient(top, #0099e6, #0077b3);
    background-image: -o-linear-gradient(top, #0099e6, #0077b3);
    background-image: -ms-linear-gradient(top, #0099e6, #0077b3);
    background-image: linear-gradient(top, #0099e6, #0077b3);
    background-repeat: repeat-x;
    border-top: 1px solid #4dc3ff;
    border-bottom: 1px solid #00334d; }
.sitemap-content ul {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 10px; }
  .sitemap-content ul a {
    text-decoration: none; }
.sitemap-content li {
  border-left: 5px solid #006699;
  text-align: left;
  margin: 0;
  background: rgba(255, 255, 255, 0.25);
  padding: 4px; }
  .sitemap-content li:hover {
    background: rgba(255, 255, 255, 0.5);
    border-left: 5px solid #0088cc;
    color: #006699; }
